.apptitle {
  font-family: Lucida Grande, Segoe UI, sans-serif;
  font-size: 12pt;
  background-color: #ebebeb;
}

.panelstyle {
  font-family: Lucida Grande, Segoe UI, sans-serif;
  font-size: 9pt;
}
